
/* Index.html */
body {
    background-color: #ffcccc;
    color: #212529;
    font-size: 0rem;
    font-weight: 400;
    line-height: 1.5;
}

.outer {
    background-color: #1d0000;
    padding: 10px 20px 20px;
}

.welcome {
    background-color: #ff5ec0;
    color: #ffff00;
    font-family: "Brush Script MT", Cursive;
    margin-bottom: 0.05rem;
    padding: 2rem 1rem;
    text-align: center;
}

.intro {
    background-color: #1d0000;
    color: #ffff00;
    font-family: Georgia, Serif;
    font-size: large;
    text-indent: 20px;
    letter-spacing: 1px;
}


/* Interests.html */

#intro-interest {
    background-color: #1d0000;
    color: #ffff00;
    font-family: Georgia, Serif;
    font-size: large;
    text-indent: 20px;
    letter-spacing: 1px;
}


#videos {
  display: flex;
  justify-content: center;
}
