/* Navigation bar*/
#navbar{
  position: relative;
  display: block;
  height: 100%;
  padding-right: 5px;
  right: 0;
  overflow: hidden;
}

/* Index.html */
body {
    background-color: #ffcccc;
    color: #212529;
    font-size: 0rem;
    font-weight: 400;
    line-height: 1.5;
}

.outer {
    background-color: #1d0000;
    padding: 10px 20px 20px;
}

.welcome {
    background-color: #ff5ec0;
    color: #ffff00;
    font-family: 'ABeeZee';
    font-size: 50px;
    margin-bottom: 0.05rem;
    padding: 2rem 1rem;
    text-align: center;
}

.intro {
    background-color: #1d0000;
    color: #ffff00;
    font-family: Georgia, Serif;
    font-size: large;
    text-indent: 20px;
    letter-spacing: 1px;
}


/* Interests.html */

#intro-interest {
    background-color: #00ffbf;
    color: #000000;
    font-family: 'ABeeZee';
    font-size: 20px;
    text-indent: 20px;
    letter-spacing: 1px;
    margin-top: 0.05rem;
    padding: 20px;
}


#videos {
  display: flex;
  justify-content: center;
}
