/* Navigation bar*/

.topnav {
  background-color: #ffff00;
  overflow: hidden;
}

.topnav a {
  float: left; /* Float the links to the left */
  display: block; /* Display the links as block elements */
  color: #ff0000; /* Text color of the links */
  text-align: center; /* Center-align the text within the links */
  padding: 1px 10px; /* Add padding to the links */
  text-decoration: none; /* Remove underline from the links */
  height: 40px; /* Set height of the links */
  line-height: 40px; /* Center-align text vertically */
  family-font:'ABeeZee';
  font-size: 20px;
}

/* Change color of links on hover */
.topnav a:hover {
  background-color: #ddd; /* Change background color on hover */
  color: black; /* Change text color on hover */
}

/* Index.html */
.outer {
    background-color: #ffe6e6;
    padding: 10px 20px 20px;
}

body {
  background-color: #ffffff;
}

.welcome {
    background-color: #2691d9;
    color: #0099ff;
    font-family: 'Bungee Spice';
    margin-bottom: 0.05rem;
    padding: 2rem 1rem;
    text-align: center;
}

.intro {
    background-color: #ffe6e6;
    color: #0;
    font-family: Georgia, Serif;
    font-size: large;
    text-indent: 20px;
    letter-spacing: 1px;
    padding: 40px;
}


/* Interests.html */

#online {
    background-color: #ffe6e6;
    color: #000000;
    font-family: 'ABeeZee';
    font-size: 20px;
    text-indent: 20px;
    letter-spacing: 1px;
    margin-top: 0.05rem;
    padding: 20px;
}


#videos {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #ffe8f6;
  color: #0099ff;
  font-family: 'ABeeZee';
  font-size: 20px;
  margin-bottom: 0.05rem;
  padding: 2rem 1rem;
  text-align: center;
}
