{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="bought">
    <h6>Bought</h6>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<!-- Sold -->
<div class="bought">
    <h6>Sold</h6>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{% endblock %}
