{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="bought">
    <h6>Bought</h6>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in bought%}
            <tr>
                <td>{{ i["symbol"] }}</td>
                <td>{{ i["shares"] }}</td>
                <td>{{ i["price"] }}</td>
                <td>{{ i["dates"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Sold -->
<div class="bought">
    <h6>Sold</h6>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in sold %}
            <tr>
                <td>{{ i["symbol"] | upper }}</td>
                <td>{{ i["shares"] }}</td>
                <td>{{ i["price"] }}</td>
                <td>{{ i["dates"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
