{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="bought">
    <h5>Bought</h5>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in symbol %}
            <tr>
                {% for j in  %}
                <td>{{ i }}</td>
                <td>{{ shares }}</td>
                <td>{{ price }}</td>
                <td>{{ total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
