{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="bought">
    <h5>Bought</h5>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in current %}
            <tr>
                <td>{{ i["symbol"] | upper }}</td>
                <td>{{ i["shares"] }}</td>
                <td>{{ i["price"] | usd }}</td>
                <td>{{ i["total"] | usd }}</td>
            {% endfor %}
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th>Cash</th>
                <td>{{ cash | usd }}</td>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th>TOTAL</th>
                <td>{{ total | usd }}</td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}
