{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="bought">
    <h5>Bought</h5>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ info[0]["symbol"] }}</td>
                <td>{{ info[0]["shares"] }}</td>
                <td>{{ info[0]["price"] }}</td>
                <td>{{ total }}</td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}
