{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    <div>
        <h1>Stock Quotes</h1>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for symbol in symbols %}
                {% i = 0 %}
                <tr>
                    <td>{% symbol[i]["symbol"] %}</td>
                    <td>{% symbol[i]["price"] %}</td>
                </tr>
                {% i += 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
