{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div>
        <h1>Stock Quotes</h1>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for symbol in symbols %}
                <tr>
                    <td>{%  %}</td>
                    <td>{%  %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
