{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    <div>
        <h1>Stock Quotes</h1>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ symbols["symbol"] }}</td>
                    <td>{{ symbols["price"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
