{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="bought">
    <h5>Buy</h5>
</div>


    <form action="/sell.html" method="POST">
        <div class="mb-3">
            <label for="shares"> Number of shares</label>
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>
        <br><br>

        <div class="sell">
        <label for="symbol">Choose a stock: </label>
        <select name="symbol">
            {% for i in symbols %}
        <option value="{{ i['symbol'] }}"></option>
        </select>
        </div>


        <input type="submit" value="Submit">
    </form>


{% endblock %}
