{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<div class="bought">
    <h5>Sell</h5>
</div>


    <form action="/sell" method="POST">
        <div class="mb-3">
            <label for="share"> Number of shares</label>
            <input id="share" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>
        <br><br>

        <div class="sell">
        <label for="symbols">Choose a stock: </label>
        <select name="symbol" id="symbols">
            {% for i in portfolio %}
        <option value="{{ i['symbol'] }}">{{ i['symbol'].upper() }}</option>
            {% endfor %}
        </select>
        </div>


        <input type="submit" value="Sell">
    </form>


{% endblock %}
